@use "inline-tile";
@use "direct-uploader";

:host {
  transition: ease all 0.5s;
  overflow: hidden;
}

#nosto-ugc-container {
  .tile {
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.hidden {
  display: none !important;
}